#zgornjiDel {
    background-color: whitesmoke;
    font-family: "Crimson Text", serif;
    padding: 0;                                                 /*padding in margin sta na nulo, ker ni telo dat črte navbara čez celo stranqq*/
    margin: 0;
}

#header1 {
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}

ul.nav {
    list-style-type: none;                                      /*odstraniu "bulletse" = črne pike ki se nrdijo ko nrdiš <ul>*/
    overflow: hidden;                                           /*nevem kaj nrdi*/
    width:750px;                                                /*kopirano z "https://www.websitecodetutorials.com/code/css/css-center-nav.php" -> prvi primer*/
    margin:0 auto;                                              /*kopirano z "https://www.websitecodetutorials.com/code/css/css-center-nav.php" -> prvi primer */

}

li.nav2 {
    float: left;                                                /*da so poravnani il elementi edn zravn druzga*/

}

li.nav2 a {
    display: block;
    color: #17181c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: rebeccapurple;
    width:150px;                                                /*kopirano z "https://www.websitecodetutorials.com/code/css/css-center-nav.php" -> prvi primer */

}

li.nav2 a:hover {
    background-color: #5c6270;

}

#navigationBar {
    border-style: ridge none ridge none;
    width: 100%;
}

/*********************************  navbar do tle  ****************************************************************************/
#footer {
    /*display: flex;
    align-items: center;*/


    /*margin: auto; /*                                          /*s tem je footer poravnan perfektno na sredino strani, in sovpada s body-em/mainom, treba je premaknit vse malo na desno*/
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 12%;                               /*margin left je biu 18%*/

    display: flex;                  /*vsi div-i footerja so poravnani na sredino*/
    justify-content: center;        /*vsi div-i footerja so poravnani na sredino*/
    /*vsi div-i footerja so poravnani na sredino*/

    width: 85%;                     /*širina footerja ista kot glavni del strani oz #wrapper in #left*/

    display: grid;                              /*narejen grid footerja*/
    grid-template-columns: repeat(4, 1fr);      /*vsak ul ima svoj del footerja*/
    grid-template-rows: 1fr;                    /**/
    grid-column-gap: 2px;                       /**/
    grid-row-gap: 0px;                          /**/
}

.naslovi_v_footerju {
    font-family: Bahnschrift;
    font-size: 20px;
    font-weight: 900;;
    margin-left: 0px;       /*BLO JE 20px, preden sm odstranu*/               /*naslove footerja premaknu malo desno, zdej treba še celoten footer premaknt v desno*/
}

#skis_logo {
    width: 20%;
    height: 20%;
}

#sos_logo {
    width: 30%;
    height: 30%;
}

ul.Kšs_in_uradneUre {
    list-style-type: none;
    padding-left: 0%;   /*da je poravnano s naslovi v footerju*/        /*BLO JE 6% PREDN SM ODSTRANU*/
}

#podnaslov_footerja {
    font-weight: bold;
}

/*******************right arrow********************/
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
/**********************right arrow end******************/
ul.kontakt {
    list-style-type: none;
    padding-left: 0%;               /*spreminjam zaradi poravnave s naslovi footerja*/
}

ul.davčna {
    list-style-type: none;
    padding-left: 0%;              /*spreminjam zaradi poravnave s naslovi footerja, prej je blo 12%*/

}

.slikeFooterja {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    /*align-items: center;*/
    width: 75%;
    height: 75%;
}

.slika1 { grid-area: 1 / 1 / 2 / 2;

    object-fit: cover;

}

.slika2 { grid-area: 1 / 2 / 2 / 3;

    object-fit: cover;
}

.slika3 { grid-area: 1 / 3 / 2 / 4;

    object-fit: cover;

}

.slika4 { grid-area: 2 / 1 / 3 / 2;

    object-fit: cover;
}

.slika5 { grid-area: 2 / 2 / 3 / 3;

    object-fit: cover;
}

.slika6 { grid-area: 2 / 3 / 3 / 4;

    object-fit: cover;
}

li.znakci {
    /*padding-left: 5%;*/
}

li.znak_pred_puscico {

}
.fontNekej {
    font-family: serif;
}

#fontNekej2 {
    font-family: serif;
    /*white-space: nowrap;
    width: 122px;
    overflow: hidden;     */      /*https://www.w3schools.com/css/tryit.asp?filename=trycss3_text-overflow_hover*/

}

#fontNekej2:hover {             /*https://www.w3schools.com/css/tryit.asp?filename=trycss3_text-overflow_hover*/
    /* overflow: visible; */
}

li.kontakt_li {

}

.bolderText {
    font-weight: 600;
}
/******************************** footer DO tle *************************************************/
/******************************** event OD tle *************************************************/
#bodyEventa {
    width: 75%;
    height: 75%;
    background-color: darkkhaki;
    margin-left: auto;
    margin-right: auto;


    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 0.5fr;  /*v originalu je 1fr 1fr */
    gap: 0px 0px;
    grid-template-areas:
    "."
    ".";
}

#slikaEventa {
    margin-left: auto;
    margin-right: auto;
}

#textEventa {
    margin-left: 10%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50%;
    gap: 0px 0px;
    grid-template-areas:
    ". .";

}

#levo {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "."
    ".";
}




/******************************** event DO tle *************************************************/
